.containerheader {
    padding: 0.9375rem 15% 1% 5%;
    position: absolute;
    background-color: transparent;
    width: 100%;
    display: block;
}

.header {
    display: flex;
    justify-content: space-between;
    font-family: "Italiana", serif;

    .name {
        display: flex;
        align-items: center;
        font-size: 1.75rem;
        color: #fff;
    }

    .menu {
        display: flex;
        align-items: center;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            gap: 1.75rem;

            li {
                position: relative;

                a {
                    text-decoration: none;
                    color: #ffffff;
                    padding: 1rem 0;
                    display: inline-block;
                    font-size: 1.5rem;

                    // Pseudo-elemento para a linha
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 1rem;
                        width: 0;
                        height: 2px;
                        background-color: #fc32b8;
                        transition: width 0.3s ease-in-out;
                    }

                    // Efeito de hover
                    &:hover::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .name {
        width: 17rem;
    }
}
@media (max-width: 850px) {
    .containerheader {
        display: none;
    }

    .header {
        display: none;
    }
}
