.containerheader {
    padding: 0.9375rem 15% 1% 5%;
    position: absolute;
    background-color: transparent;
    width: 100%;
    display: block; /* Exibe por padrão em telas maiores */
}

.header {
    display: flex;
    justify-content: space-between;
    font-family: 'Italiana', serif;

    .name {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        color: #fff;
    }

    .menu {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            flex-direction: row;
            gap: 48px;
            font-size: 1.5rem;
            list-style: none;

            li {
                position: relative;

                a {
                    text-decoration: none;
                    color: #fff;
                    position: relative;
                    padding-bottom: 0.2rem;
                    transition: color 0.3s ease-in-out; /* Transição de cor ao passar o mouse */

                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -0.1rem;
                        width: 100%;
                        height: 0.2rem;
                        background-color: #de0eb0;
                        transform: scaleX(0); /* Escala inicial para 0 (invisível) */
                        transform-origin: left; 
                        transition: transform 0.3s ease-in-out;
                    }

                    &:hover::after {
                        transform: scaleX(1); /* Escala (visível) ao passar o mouse */
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .containerheader {
        display: none; /* Esconde o container em telas menores */
    }

    .header {
        display: none; /* Esconde o header em telas menores */
    }
}



// .containerheader {
//     padding: 1rem 15% 1% 5%;
//     position: absolute;
//     background-color: transparent;
//     width: 100%;

//     .header {
//         display: flex;
//         justify-content: space-between;
//         font-family: 'Italiana', serif;

//         .name {
//             display: flex;
//             align-items: center;
//             font-size: 1.5rem;
//             color: #fff;
//         }

//         .menu {
//             display: flex;
//             align-items: center;

//             ul {
//                 display: flex;
//                 flex-direction: row;
//                 gap: 48px;
//                 font-size: 1.5rem;
//                 list-style: none;

//                 li {
//                     position: relative;

//                     a {
//                         text-decoration: none;
//                         color: #fff;
//                         position: relative;
//                         padding-bottom: 0.2rem;
//                         transition: color 0.3s ease-in-out; /* Transição de cor ao passar o mouse */

//                         &::after {
//                             content: "";
//                             position: absolute;
//                             left: 0;
//                             bottom: -0.1rem;
//                             width: 100%;
//                             height: 0.2rem;
//                             background-color: #de0eb0; 
//                             transform: scaleX(0); /* Escala inicial para 0 (invisível) */
//                             transform-origin: left; 
//                             transition: transform 0.3s ease-in-out; /* Transição da transformação */
//                         }

//                         &:hover::after {
//                             transform: scaleX(1); /* Escala (visível) ao passar o mouse */
//                         }
//                     }
//                 }
//             }
//         }
//     }

//     @media screen and (max-width: 800px) {
//         .background {      
//           h1 {
//             font-size: 2.6rem;
//           }
    
//           p {
//             font-size: 1.2rem;
//             margin-bottom: 2rem;
//           }
    
//           button {
//             margin-bottom: 1rem;
//           }
//         }
//       }
// }