.containerprojetos {
    height: 100vh;
    width: 100%;
    background-color: #f1e2fb;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .tituloproj {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        position: relative;

        .titulo {
            display: flex;
            align-items: center;
            position: absolute;
            top: -65px;
            right: 7rem;

            h2 {
                font-size: 3rem;
                margin: 0 1rem;
            }

            .linha {
                width: 15rem;
                height: 0.2rem;
                background-color: #fc32b8;
            }
        }
    }

    .projetos {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        margin-top: 5rem;
        background-color: #f1e2fb;

        z-index: 2;

        a {
            display: block;
            position: relative;
            text-align: center;

            img {
                height: 22rem;
                width: 17rem;
                display: block;
                border: #fc32b8 solid 0.1rem;
                border-top-left-radius: 8.5rem;
                border-top-right-radius: 8.5rem;
                transition:
                    transform 0.7s,
                    opacity 0.7s;
                opacity: 0.7;
            }

            .projeto-text {
                position: absolute;
                width: 15rem;
                text-wrap: wrap;
                top: 85%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 2rem;
                color: rgb(0, 0, 0);
                transition: opacity 0.7s ease;
            }

            &:hover .projeto-text {
                opacity: 0;
            }

            &:hover img {
                transform: scale(1.1);
                opacity: 1;
                border: none;
            }
        }
    }

    .endproj {
        position: absolute;
        bottom: 1rem;
        right: 1.33rem;
        transform: translate(5%, 5%);
        width: 27rem;
        height: 20rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // Responsivo
    @media (max-width: 1350px) {
        .tituloproj .titulo {
            top: -60px;
            right: 5rem;

            h2 {
                font-size: 2.5rem;
            }
        }
    }
    @media (max-width: 1280px) {
        .tituloproj .titulo {
            top: -25px;
            right: 5rem;

            .linha {
                width: 15rem;
            }
        }
        .projetos {
            gap: 2rem;

            a img {
                height: 18rem;
                width: 14rem;
            }
        }

        .endproj {
            width: 22rem;
            height: 16rem;
        }
    }

    @media (max-width: 1200px) {
        .tituloproj .titulo {
            top: -35px;
            right: 5rem;

            .linha {
                width: 14rem;
            }
        }
    }

    @media (max-width: 1000px) {
        height: auto;
        width: 100%;

        .endproj {
            display: none;
        }
    }

    @media (max-width: 820px) {
        display: flex;
        align-items: center;

        .tituloproj .titulo {
            top: -40px;
            h2 {
                font-size: 2rem;
            }

            .linha{
                width: 10rem;
            }
        }

        .projetos {
            flex-direction: column;
            gap: 2rem;

            a img {
                height: 15rem;
                width: 11rem;
            }

            .projeto-text {
                font-size: 1.5rem !important; /* Teste com o uso de !important */
                max-width: 10rem;
                word-wrap: break-word;
            }
        }

       
    }

    @media (max-width: 630px) {
        height: auto;
        .tituloproj .titulo {
            top: -30px;
            right: 1.5rem;

            h2 {
                font-size: 1.5rem;
            }
        }

        .projetos a img {
            height: 12rem;
            width: 9rem;
        }
    }
    @media (max-width: 450px) {
        .tituloproj .titulo {
            font-size: 1.3rem;

            .linha {
                width: 7.5rem;
            }
        }
    }

    @media (max-width: 375px) {
        .tituloproj .titulo {
            .linha {
                width: 6.75rem;
            }
        }
    }
}
